@import 'tailwindcss';

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Bold.woff2') format('woff2'),
    url('/fonts/FiraCode-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'FiraCode', sans-serif;
  margin: 0 auto;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  a {
    text-decoration-line: underline;
  }
  p {
    padding-top: 1rem;
    text-indent: calc(var(--spacing) * 8);
  }
}
