@import 'tailwindcss';

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Bold.woff2') format('woff2'),
    url('/fonts/FiraCode-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'FiraCode', sans-serif;
  /* max-width: 1200px; */
  margin: 0 auto;
}
